<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NGO_DONATION_MANAGEMENT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.r3sys.validation.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NgoRegister</display-name>
    <servlet-name>NgoRegister</servlet-name>
    <servlet-class>com.r3sys.validation.NgoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NgoRegister</servlet-name>
    <url-pattern>/NgoRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>com.r3sys.validation.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reject</display-name>
    <servlet-name>Reject</servlet-name>
    <servlet-class>com.r3sys.validation.Reject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.r3sys.validation.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.r3sys.validation.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonateServlet</display-name>
    <servlet-name>DonateServlet</servlet-name>
    <servlet-class>com.r3sys.validation.DonateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonateServlet</servlet-name>
    <url-pattern>/DonateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NgoLogin</display-name>
    <servlet-name>NgoLogin</servlet-name>
    <servlet-class>com.r3sys.validation.NgoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NgoLogin</servlet-name>
    <url-pattern>/NgoLogin</url-pattern>
  </servlet-mapping>
</web-app>